
.box {


    width: 500px;
    padding-right: 500px;
    margin-right: 200px;

    text-align: right;

}

section input,
select {

    margin-top: 0;
    margin-bottom: 10px;

}

.a {

    width: 420px;
}

.dos {

    width: 40px;


}

.tres {

    width: 30px;

}


.se {

    width: 35px;    

}

.sel{

width: 50px;


}

.cu{

width: 20px;



}

.x{

width: 559px;



}

.dri{

 width: 375px; 
}

.H{

    width: 472px; 
}

.Zip{

    width: 440px;
}
.Iss{

    width: 385px;
}
.sufy{

width: 50px;


}
.Tax{

    width: 20px;

}


.Date{

    width: 20px;

}

.T{


width: 432px;
}
.D{

    width: 555px;
}
.S{

   
}